.dashboard-container {
  padding: 50px 300px;
  background-image: linear-gradient(rgba(220, 253, 249, 0.4), rgba(220, 253, 249, 0.4)), url(/public/logos/forest-amazon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(220, 253, 249);
  background-attachment: fixed;
  min-height: 100vh;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 48px;
}

.dashboard-header img {
  width: 300px;
  margin: 0 auto 16px;
}

.dashboard-header p {
  font-size: 20px;
  color: #555;
}

.dashboard-grid {
  gap: 32px;
}

/* Media Query para Tablets e celulares*/
@media (max-width: 1024px) {
  .dashboard-container {
    padding: 40px 60px;
  }
}

@media (max-width: 768px) {
  .dashboard-container {
    padding: 30px 20px;
  }

  .dashboard-header img {
    width: 200px;
  }

  .dashboard-header p {
    font-size: 16px;
  }

  .dashboard-grid {
    display: block;
    gap: 0;
  }
}